<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Run Group</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Run Group</h1>
        <p>This is a simple welcome page for our running club application.</p>
        <a th:href="@{/clubs}" class="btn">View Clubs</a>
    </div>
</body>
</html>
